html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

@media screen and (max-width: 980px) {
  /* Change Modal elements */
  .modalBody {
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px;
  }

  .modalContainer {
    flex: 0 1 90%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 1110px) {
  /* make container full width */
  .container {
    flex: 0 1 100%;
  }
}

.navbar {
  background-color: #353535 !important;
}
.navbar a {
  color: white;
}
.navbar a:hover {
  color: blue;
}

.textarea {
  width: 100%;
  height: 600px;
  padding: 10px;
  border: 1px solid #333333;
  white-space: normal;
}

.leTitre h2 {
  padding-bottom: 3%;
  text-align: center;
}

.comment-section {
  margin-top: 20px;
}

.comment-section form {
  display: flex;
  align-items: center;
}

.comment-section form input {
  flex: 1;
  margin-right: 10px;
}

.comment-section form button {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.comment-section form button:hover {
  background-color: #449d44;
}

.comment-section .list-group {
  margin-top: 20px;
}

.comment-section .list-group .list-group-item {
  border: none;
  padding: 10px;
  font-size: 16px;
}

.page-title {
  text-align: center;
  margin-bottom: 50px;
}

.header-image {
  width: 15%;
  max-width: 200px;
  border-radius: 10px;
}

.about-image {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
}

h1 {
  font-family: "Bangers", cursive;
  font-size: 70px;
  color: black;
  font-weight: normal;
  letter-spacing: 6px;
  cursor: pointer;
  margin: 0 auto;
}

h1 a {
  color: inherit;
  text-decoration: none;
  font-family: "Bangers", cursive;
}

h1 a:hover {
  color: inherit;
}

h2,
h3 {
  font-weight: normal;
  text-align: left;
  font-family: "Roboto Condensed", sans-serif;
}

.container {
  background-color: var(--white-color);
  padding: 30px;
  flex: 0 1 80%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.whiteShadow {
  box-shadow: 0 0.5rem 1rem rgb(255 255 255 / 30%) !important;
}

@media screen and (min-width: 1200px) {
  .dropdown-menu {
    background-color: black !important;
  }
}
.navbar-toggler {
  background-color: white !important;
}

/* LOADER */

.loader {
  border: 10px solid var(--light-grey-color);
  border-radius: 50%;
  border-top: 10px solid var(--dark-red-color);
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  margin: 40px auto 20px;
}

.loaderText {
  text-align: center;
  color: var(--white-color);
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* END LOADER */

.navbar .container-fluid {
  flex-wrap: nowrap !important;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.nav-menu-header {
  padding-right: 5%;
}

@media (min-width: 1200px) {
  .navbar-expand-xl .navbar-nav {
    padding-left: 10%;
  }
}

.paginationBtns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBtns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid white;
  color: black;
  cursor: pointer;
}

.paginationBtns a:hover {
  color: darkcyan;
  background-color: white;
}

.paginationActived a {
  color: darkblue;
  background-color: white;
}

.container404 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/animegpt-afce1.appspot.com/o/gepeto.gif?alt=media&token=00354df0-0756-4ac8-8d85-251d211b90a3");
  background-size: cover;
  background-position: center;
}

.container404 h1 {
  font-size: 10rem;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

.container404 p {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

@keyframes glitch {
  0% {
    transform: translate(5px);
  }
  20% {
    transform: translate(-5px);
  }
  40% {
    transform: translate(5px);
  }
}
.bg-dark {
  background-color: #333;
}

footer p {
  font-size: 14px;
}

footer a {
  font-size: 16px;
}
